/*  #aplyermini {
	left: -50px !important;
} 
#aplyermini .aplayer-body {
	left: -66px;
}
#aplyermini:active .aplayer-body,
#aplyermini:focus .aplayer-body {
	left: 0px !important;
} */
@media screen and (max-width: 480px) {
	#aplyermini {
		display: none;
	}
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
	left: -66px !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
	left: 0 !important;
}
@media screen and (max-width: 480px) {
	#aplyermini {
		display: none;
	}
}
