.workSituationImg{
  display: none !important;
}
#post-firstinfo .meta-firstline .article-meta__tags{
  opacity: 1;
  color: #eee;

}
@font-face{
  font-family: 'MapleMono';
  src: url('/font/MapleMono-Regular.woff2');   
}
#travellings_button{
  display: none !important;
}
#article-container header {
display: none !important;
}